@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "./../varaibles.scss";
.product-details {
  .add-img {
    display: flex;
    justify-content: center;
    img {
      width: 50%;
    }
  }
  .product {
    font-family: "Poppins", sans-serif;
    .right {
      .add-img {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        img {
          width: 100%;
        }
      }
    }
    .details {
      border: 2px solid $kayiGreen;
      padding: 10px 16px;
      justify-content: space-between;
      div {
        p {
          span {
            font-weight: bold;
          }
          .descrip {
            font-weight: bold;
          }
        }
        .price {
          font-size: 18px;
          font-weight: bold;
          text-shadow: 0px 0px 4px rgb(170, 255, 255);
        }
        h1 {
          font-weight: 600;
          color: black;
          text-shadow: 0px 0px 2px rgba(114, 172, 167, 0.786);
        }
      }
      .cart-btn {
        button {
          background-color: $kayiGreen;
          padding: 10px 14px;
          font-size: 16px;
          color: white;
          border: 1px solid #fff;
          transition: 0.2s;
          border-radius: 4px;
          &:hover {
            background-color: #fff;
            color: $kayiGreen;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

@media (max-width: 546px) {
  .product-details {
    .add-img {
      img {
        width: 100%;
      }
    }
  }
}
@media (max-width: 968px) {
  .product-details {
    .add-img {
      img {
        width: 80%;
      }
    }
  }
}
@media (max-width: 768px) {
  .product-details {
    .add-img {
      img {
        width: 100%;
      }
    }
  }
}
