
  .carousel {
    width: 100%;
    display: flex;
    justify-content: center;
      div {
        width: 100%;
        img {
          height: auto;
          width: 90%;
        }
      }
    }

